body,html {
    height: 100%;
  }

.row {
      margin: 0px;
  }

 .col-12 {
   padding: 0;
 }

 .img-100{
   position: absolute;
   width: 2rem;
   height: 2rem;
 }

.name {
    background: red;
    width: 360px;
    margin-left: calc(50vw - 180px);
}